.comment:hover {
	background-color: #cccccc;

}
.comment {
	position:relative;
	border: 1px solid black;
	background: rgba(20,20,20,0.1);
	border-radius: 15px;
	padding: 10px;
	width:35%;
	margin-top:15px;

}

.comment span {
	position:absolute;
	float:left;
	display:none;
}

.comment:hover span {
	position:absolute;
	color:grey;
	font-style: italic;
	text-decoration: underline;
	top: 40%;
	left:105%;
	float:left;
	display:block;

}

.comments{

	margin-top: 50px;
}
.comment-button{
	margin-top: 20px;
}

#refresh:hover{
	color:#cccccc;
}
.comment-button>h4:hover {
	color:#cccccc;
}
.post-form {
	border-top: 1px solid black;
}

#refresh {
	height:25px;
}

.modal {
	width:35px;
	height:25px;
    display:    none;
    position:   relative;
    top: -20px;
    left:80px;
    background:
                url('/img/ajax-loader.gif') 
                no-repeat;
    
}
