{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid col-md-offset-1">
    {% if errors %}
    {% for error in errors  %}
    <div class="alert alert-danger"><p>{{ error }}</p></div>
    {% endfor %}
    {% endif %}
    <br>

    <form action="/register" method="post">
        <label>Логин
            <input type="text" class="form-control" id="login"
                   name="login" placeholder="Введите имя" value="{{data.login}}" required>
        </label><br>
        <label>e-mail
            <input type="email" class="form-control" id="email"
                   value="{{data.email}}" name="email" placeholder="e-mail" required>
        </label><br>
        <label>Пароль
            <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
        </label><br>
        <label>Подтверждение
            <input type="password" class="form-control" id="confirmation" name="confirmation" placeholder="password"
                   required>
        </label><br>
        <div class="checkbox">
        <label><input type="checkbox" id="admin" name="admin" value="1">Администратор</label>
        </div>
        <br><br>
        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

{% endblock %}