{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <ul class="list-group">
        {% for user in users %}
        {% if user.login != 'Anonymous' %}
        <li class="list-group-item">

            <p>Логин: <a href="/users/{{user.id}}/">{{ user.login }}</a></p>
            <p>e-mail: {{user.email}}</p>
            <p>Зарегистрирован: {{ user.created|date('d.m.Y h:i') }}</p>
            <p>Файлов загружено: <span class="badge">{% if filesCount[user.id] != '' %}{{ filesCount[user.id] }}{% else %}{{ 0 }}{% endif %}</span></p>
            <form action="/users/{{user.id}}" method="post">
                <input type="hidden" name="_METHOD" value="DELETE"/>
                <input type="submit" class="btn btn-danger btn-xs" value="Remove user"/>
            </form>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}