{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <h2>{{user.login}}</h2>
    <p>email: {{user.email}}</p>
    <p>Зарегистрирован: {{user.created|date('y-m-d h:i') }}</p>
    <h3>Файлы загруженные пользователем:</h3>
    <ul class="list-group">
        {% for file in files %}
        <li class="list-group-item">
            <p><a href="/view/{{ file.id }}">{{ file.name }}</a> загружен {{ file.uploaded|date('y-m-d h:i') }}</p>
            <p><strong>Комментарий пользователя:</strong>   {{ file.comment }}</p>
            <p><strong>Размер файла:</strong>  {{ helper.formatSize(file.size) }}</p>
        </li>
        {% else %}
        <p>Файлы отсутствуют.</p>

        {% endfor %}
    </ul>
</div>
{% endblock %}