{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
  {% if helper.isPicture(file.extension)%}
  {% include 'view_image.html' %}
  {% elseif helper.isVideo(file.extension)%}
  {% include 'view_video.html' %}
  {% else %}
  <p> {{ file.name }} </p>
  <p><a href="{{ helper.formatDownloadLink(file.id, file.name)}}">Скачать файл</a></p>
  <p><strong>Загружен:</strong> {{ file.uploaded|date('d-m-y H:i') }}</p>
  <p><strong>Загрузил:</strong> {{ user.login|e }}</p>
  <p><strong>Размер файла:</strong> {{ helper.formatSize(file.size) }}</p>
  <p>{{ file.extension }}</p>
  {% endif %}
  {# <h4>Post Your Comment:</h4>
  <form action="/send/{{ file.id }}" method="post">
    <label for="name">Ваше имя</label><br>
    <input type='text' name="name" value="{{ comment.user.getLogin }}"><br>
    <label for="comment">Your Comment</label><br>
    <textarea name="comment" id="commentBody"></textarea><br>
    <input type="hidden" name="fileId" value="{{ file.id }}">
    <input type="submit" value="Post your comment">
    <input type="hidden" id="parentComment" name="parent" value=""> #}


    <h3>Комментарии</h3>

    <button onclick="refreshComments()">Refresh</button>
    <div class="modal loading">
    </div>


    <div class="comments" id="comments">  
     {% for comment in comments %}


     <div class="comment" id="comment{{comment.id}}"
     onclick="appendPostForm({{comment.id}}, '{{  comment.user.getLogin }}', postForm{{comment.id}})"
     style="margin-left:{{ (comment.level -1) * 25 }}px;">
     <ul style="list-style:none;">
        <li>
         <p>{{ comment.posted|date('d-m-y H:i')  }}</p>
         <p><i>{{  comment.user.getLogin  }} написал:</i></p>
         <p>> {{ comment.comment}}</p>
         <p><span>reply</span></p>
     </li>

 </ul>

 {# {% if  %} #}
 {# <div style="border: 1px solid black; background:black; color:gold; padding:5px;margin:5px;">
 <p>Parent {{ comment.id }}</p>
 <p>{{ comment.posted|date('d-m-y H:i')  }}</p>
 <p><i>{{ comment.user }} написал:</i></p>
 <p style="color:green">> {{ comment.comment }}</p>
</div> #}
</div>
<div id='postForm{{comment.id}}'></div>
{% endfor %}

<div class="comment-button" id="commentButton">
    <h4>Нажмите чтоб написать комментарий</h4>
</div>
<div id="commentButtonPost">
</div>
</div>
</div>

<script type="text/x-template" id="commentTemplate">
<div class="commentReply">
<h4><b> Ответить: </b></h4>
<form  id="commentForm" name="commentForm">
<label for="comment">Your Comment</label><br>
<textarea name="comment" id="commentBody"></textarea><br>
<input type="hidden" name="fileId" value="{{ file.id }}">
<input type="hidden" name="userId" value="{{ currentUser.getId() }}">
<input type="hidden" id="parentComment" name="parent" value="{{ comment.id }}">
<input type="button" onclick="postComment()" value="Post your comment">

</form>
</div>
</script>
<script>
var template = $('#commentTemplate').html();
$(document).ready(function(){
    $("#commentButton").click(function(){
        $("#commentButton").remove();
        $(".commentReply").remove();
        $(template).insertAfter("#commentButtonPost");
    })
});
function refreshComments(){
    $.ajax("/ajaxComments/{{file.id}}",
    {
        type: "POST",
        success : function(text)
        {
            $( "#comments" ).empty().append(text);
        },
    })
}
function appendPostForm(id, user, postForm) {
    $(".commentReply").remove();
    $(template).insertAfter("#comment"+id);
    $("#parentComment").val(id);
    $("#commentBody").val(user+ ', ');
    
};

function postComment() {
    var fd = new FormData(document.forms.commentForm);
    $.ajax("/send/{{file.id}}",
    {
        type: "POST",
        processData: false,
        contentType: false,
        data: fd,
        success : function(text)
        {
            $( "#comments" ).empty().append(text);
        },
        error: function(xhr, textStatus, errorThrown) {
            alert(errorThrown + ' - ' + textStatus);
        },

    });
};
$body = $(".modal");

$(document).on({
   ajaxStart: function() { $body.css({"display": "block"});    },
   ajaxStop: function() { $body.css({"display": "none"}); }    
});
</script>

{% endblock %}